body {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
button {
    color: blue;
}
#theNbr {
    color:red;
    text-align: center;
    background-color:#cecece;
}